DEBUG=false
FORUM_URL=

# Database configuration
DB_HOST=mariadb
DB_NAME=flarum
DB_USER=flarum
DB_PASS=
DB_PREF=flarum_
DB_PORT=3306
DB_ROOT_PASSWORD=

# User admin flarum (environment variable for first installation)
# /!\ admin password must contain at least 8 characters /!\
FLARUM_ADMIN_USER=admin
FLARUM_ADMIN_PASS=
FLARUM_ADMIN_MAIL=
FLARUM_TITLE=Test flarum